.notFound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-top: -20px;
}

.notFound-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-5);
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.notFound-fullLogo-icon {
    height: 110px;
}

.notFound-btn-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 20px;
}

.notFound-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--light-2);
    border: solid 1px var(--light-2);
    padding: 10px 25px;
    border-radius: 16px;
    font-size: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.notFound-btn-container .toDashboardBtn{
    background: linear-gradient(var(--secondary-2), var(--secondary-5));
}

.notFound-btn-container .toDashboardBtn:hover {
    background: linear-gradient( var(--secondary-6), var(--secondary-2));
    padding-right: 10px; /* Moves text inside */
}

.notFound-btn-container .goBackBtn {
    background: linear-gradient( var(--primary-6), var(--primary-2));
}

.notFound-btn-container .goBackBtn:hover {
    background: linear-gradient( var(--primary-2), var(--primary-5));
    padding-left: 10px; /* Moves text inside */
}

.notFound-toDashboard-icon,
.notFound-goBack-icon {
    width: 20px;
    height: 20px;
    filter: invert(100%) brightness(100%);
}
